---
interface Props {
    classList?: string;
    id?: string;
}
const { classList, id } = Astro.props;
---

<div id={`${id}`} class={`max-w-screen-xl mx-auto px-4 ${Astro.props.classList}`}>
    <slot />
</div>