---
interface Props {
    classList?: string;
    id?: string;
}   
const { classList='' , id } = Astro.props;
---

<section {id} class={`max-w-screen-xl mx-auto px-4 ${classList}`}>
    <slot />
</section>