---
interface Props {
    title: string;
    classList?: string;
}
const { title, classList } = Astro.props;
---

<h2 class={`text-3xl xl:text-5xl font-bold text-green-950 dark:text-green-600 ml-8 mt-12 mb-2 ${classList}`}>
    {title}
</h2>