---
interface Props {
    href: string;
    body: string;
}
const { href, body } = Astro.props;
---
<a href={href} class="text-sm font-medium text-gray-600 transition-all duration-300 hover:ml-6 hover:text-gray-900 dark:text-neutral-400 dark:hover:text-white
    translate-x-6 ml-2" data-astro-prefetch="">
    {body}
    <i class="fa-solid fa-arrow-right ml-2"></i>
</a>