---
interface Props {
    id: string;
    icon: string;
    classList?: string | null
}
const { id, icon, classList = null } = Astro.props;
---


<button id={id} class=`${classList} hover:text-green-300 transition-colors`>
    <i class=`fa-solid ${icon}`></i>  
</button>