* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*============================================================================*/
/* -------- SECCIÓN BARRA DE NAVEGACIÓN TRANSMEDIA ---------------------------*/
/* .contenedor_Navegador {
  width: 100%;
  height: 180px;
  position: sticky;
  display: flex;
  z-index: 1;
}
.contenedor_nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px!important;
}
.cajaLogo img {
  width: 75px;
}
nav {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
nav label, .ul-second li {
  width: 20%;
  height: 100%;
  line-height: 60px;
  font-size: 12px;
  font-weight: 400;
  margin: 0 1px;
  color: #0066ff;
  cursor: pointer;
  position: relative;
}
nav label a, .ul-second li a {
  color: #0066ff;
  text-decoration: none;
}

.contenedor_acciones {
  width: 80px;
  margin-left: 35vw;
}
.contenedor_acciones img {
  width: 35px;
  height: auto;
} */

/* -------- SECCIÓN BARRA DE NAVEGACIÓN TRANSMEDIA END -----------------------*/
/*============================================================================*/

/* 


.contenedor_Banner_oferta {
  width: 100%;
  height: 100vh;
  background: url(../img/quienes_nos_apoyan/bg_body.png) no-repeat fixed;
  background-size: cover;
}


.contenedor_Banner_Sponsors {
  width: 100%;
  height: 100vh;
}

.contenido_Sponsors {
  background-image: url(../img/quienes_nos_apoyan/logos_footer.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

} */


@media only screen and (min-width: 320px) {
  .contenedor_Banner_Principal {
    height: 90vh;
  }
  .contenedor_Navegador {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .contenedor_nav {
    width: 100%;
  }
  .cajaLogo {
    display: none;
  }
  nav {
    margin-top: 20px!important;
    width: 100%;
    text-align: center;
  }
  nav label {
    justify-content: center;
  }
  nav label a {
    padding: 5px!important;
    text-decoration: none;
    font-size: 1em;
  } 
  .TVP {
      display: none;
  }
  .lolo {
      margin-top: -10px!important;
  }
  .tituloNoticias {
      font-size:2em;
  }
  .textoNoticias {
      font-size:.9rem;
  }
  .textJustify {
      text-align: justify;
  }
  
  .contenedor_Banner_oferta {
      width: 100%;
      height: 100vh;
      background: url(../img/quienes_nos_apoyan/bg_body.png) no-repeat fixed;
      background-size: cover;
  }
  .tituloBannerOferta {
      font-size: 2.3em;
  }
  .contenedor_Banner_Sponsors {
      width: 100%;
      height: 40vh!important;
      padding: 30px!important;
  }
  .contenido_Sponsors {
      background-image: url(../img/quienes_nos_apoyan/logos_footer.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  }
}


/* Estilos para dispositivos con un ancho de pantalla mínimo de 1200px */
@media only screen and (min-width: 1200px) {
  /*============================================================================*/
  /* -------- SECCIÓN BARRA DE NAVEGACIÓN TRANSMEDIA ---------------------------*/
  .contenedor_Banner_Principal {
    width: 100%;
    height: 90vh;
    background-image: url(../img/quienes_nos_apoyan/bg_head.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contenedor_Navegador {
    height: 180px;
    position: sticky;
    display: flex;
    z-index: 1;
  }
  .contenedor_nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .cajaLogo {
    width: 75px!important;
    display: block!important;
    margin-left: 50px!important;
  }
  nav {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
  }
  nav label, .ul-second li {
    width: 20%;
    height: 100%;
    line-height: 60px;
    font-size: 12px;
    font-weight: 400;
    margin: 0 1px;
    color: #0066ff;
    cursor: pointer;
    position: relative;
  }
  nav label a, .ul-second li a {
    color: #0066ff;
    text-decoration: none;
  } 
  .TVM {
    display: none;
  } 
  .TVP {
    display: block;
  }
  .lolo {
      margin-top: -10px!important;
  }
  .tituloNoticias {
      font-size:2em;
  }
  .textoNoticias {
      font-size:.9rem;
  }
  .textJustify {
      text-align: justify;
  }

  .contenedor_Banner_oferta {
      width: 100%;
      height: 100vh;
      background: url(../img/quienes_nos_apoyan/bg_body.png) no-repeat fixed;
      background-size: cover;
  }
  .tituloBannerOferta {
      font-size: 2.3em;
  }
  .contenedor_Banner_Sponsors {
      width: 100%;
      height: 40vh!important;
      padding: 30px!important;
  }
  .contenido_Sponsors {
      background-image: url(../img/quienes_nos_apoyan/logos_footer.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  }
  .cajaTextoFooter{
    width: 100%;
    height: 80px;
    padding: .5em 0;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em; 
  }
  .cajaTextoFooter p {
    color: #737373; 
  }
  .cajaTextoFooter a {
    color: #999999;
    text-decoration: none;
  }
  .cajaTextoFooter a:hover {
    color: white;
  }
}
