* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}
/* -------- SECCIÓN CONTENDOR FONDO DE PANTALLA ------------------------------*/
.contenedor_transmedia {
    width: 100%;
    height: 100vh;
    background-image: url(../img/transmedia/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
}
/* -------- SECCIÓN CONTENDOR FONDO DE PANTALLA END --------------------------*/
/*============================================================================*/
/* -------- SECCIÓN BARRA DE NAVEGACIÓN TRANSMEDIA ---------------------------*/
.contenedor_Navegador {
    width: 100%;
    height: 180px;
    position: fixed;
}
.contenedor_nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px!important;
}

.cajaLogo img {
    width: 75px;
}

nav {
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
nav label, .ul-second li {
    width: 20%;
    height: 100%;
    line-height: 60px;
    font-size: 12px;
    font-weight: 400;
    margin: 0 1px;
    color: white;
    cursor: pointer;
    position: relative;
    /* z-index: 1; */
    /* transition: all 0.3s ease; */
    /* background: #0066ff; */
}
nav label a, .ul-second li a {
    text-decoration: none;
    color: white;
}

/* -------- SECCIÓN BARRA DE NAVEGACIÓN TRANSMEDIA END -----------------------*/
/*============================================================================*/
/* -------- SECCIÓN CONTENDOR IMAGENES CENTRADAS -----------------------------*/
.contenedor_transmedia .contenedor_posicion {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.cajaInformacion {
    width: 60%;
    margin: auto;
}

.cajaBoton {
    width: 200px;
    margin: auto;
}
/* -------- SECCIÓN CONTENDOR IMAGENES CENTRADAS END -------------------------*/

@media only screen and (min-width: 319px) and (max-width: 620px) {
    .contenedor_transmedia {
        width: 100%;
        justify-content: center;
    }
    .contenedor_Navegador {
        width: 100%;
        height: 60px;
        margin-top: 30px!important;
        /* background-color: blueviolet; */
    }
    .contenedor_nav {
        width: 100%;
        margin-left: -10px!important;
    }
    .cajaLogo {
        display: none;
    }
    nav {
        width: 100%;
        /* background-color: burlywood; */
    }
    nav label {
        width: 115px;
        justify-content: center;
        /* background-color: brown; */
    }
    nav label a {
        font-size: 1.5em;
    }
}