---
import Button from "@components/buttons/Button.astro";
import ControlButton from "@components/buttons/ControlButton.astro";
import SectionContainer from "@components/wrappers/SectionContainer.astro";

// Videos
import video1 from "@vid/video-promo.mp4";
import video2 from "@vid/video-sr.mp4";
import video3 from "@vid/video-sra.mp4";
---

<SectionContainer classList="my-8 h-[720px] overflow-hidden rounded-xl">
    <div class="relative w-full h-full">
        <!-- Slider Videos -->
        <div class="absolute inset-0 flex items-center justify-center">
            <video src={video1} loop muted height="720px" width="405px"
                class="hero-video brightness-50 contrast-125 saturate-[2]">
            </video>
            <video src={video2} loop muted height="720px" width="405px"
                class="hero-video hidden brightness-50 contrast-125 saturate-[2]">
            </video>
            <video src={video3} loop muted height="720px" width="405px"
                class="hero-video hidden brightness-50 contrast-125 saturate-[2]">
            </video>

            <!-- Controls -->
            <div class="flex absolute top-0 right-1/2 transform translate-x-1/2 gap-16 mt-4 p-8 text-2xl z-10 text-gray-200">
                <!-- prev -->
                <ControlButton id="prevBtn" icon="fa-chevron-left" />

                <!-- play/pause -->
                <ControlButton id="pauseButton" icon="fa-pause" />

                <!-- mute/unmute -->
                <ControlButton id="muteButton" icon="fa-volume-high" />

                <!-- next -->
                <ControlButton id="nextBtn" icon="fa-chevron-right" />
            </div>
        </div>

        <!-- Text Overlay -->
        <div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-center text-white">
            <h1 class="text-3xl md:text-4xl font-bold mb-2 pointer-events-none">Villa del Rosario</h1>
            <p class="text-md md:text-xl mb-4 pointer-events-none">desde sus sabores, historia y hospitalidad</p>
            <div class="flex-col md:flex-row gap-12 md:gap-6">
                <Button href="#" body="Empezar ahora" />
                <Button href="#" body="Conoce más" color="bg-gray-700" hoverColor="hover:bg-gray-800" />
            </div>
        </div>
    </div>
</SectionContainer>


<!-- Scripts -->
<script>
    document.addEventListener('astro:page-load', () => {
        const videos = document.querySelectorAll('.hero-video') as NodeListOf<HTMLVideoElement>;
        const VIDEOS = [
            videos[0],
            videos[1],
            videos[2],
        ];
        
        let currentIndex = 0;
        const prevBtn = document.getElementById('prevBtn') as HTMLButtonElement;
        const nextBtn = document.getElementById('nextBtn') as HTMLButtonElement;

        const currentVideo = VIDEOS[currentIndex] as HTMLVideoElement;
        const videoDuration = currentVideo.duration * 1000;

        function showVideo(index: number) {
            VIDEOS.map((video, i) => {
                if (i !== index) {
                    video.pause;
                    video.muted = true;
                    video.classList.toggle('hidden', true);
                } else {
                    video.play();
                    video.classList.toggle('hidden', false);
                }
            });

        clearTimeout((window as any).videoTimeout);
            (window as any).videoTimeout = setTimeout(() => {
                currentIndex = (currentIndex < videos.length - 1) ? currentIndex + 1 : 0;
                showVideo(currentIndex);
            }, videoDuration);
        }

        prevBtn.addEventListener('click', () => {
            currentIndex = (currentIndex > 0) ? currentIndex - 1 : videos.length - 1;
            showVideo(currentIndex);
        });

        nextBtn.addEventListener('click', () => {
            currentIndex = (currentIndex < videos.length - 1) ? currentIndex + 1 : 0;
            showVideo(currentIndex);
        });
        showVideo(currentIndex);



    /* Control Buttons */
        const pauseButton = document.getElementById('pauseButton') as HTMLElement;
        const pauseButtonIcon = document.querySelector('#pauseButton i') as HTMLElement;
        const muteButton = document.getElementById('muteButton') as HTMLElement;
        const muteButtonIcon = document.querySelector('#muteButton i') as HTMLElement;

        pauseButton.addEventListener('click', () => {
            VIDEOS.forEach((video) => {
                if (video.paused) {
                    video.play();
                    pauseButtonIcon.classList.toggle('fa-pause', true);
                    pauseButtonIcon.classList.toggle('fa-play', false);
                } else {
                    video.pause();
                    pauseButtonIcon.classList.toggle('fa-pause', false);
                    pauseButtonIcon.classList.toggle('fa-play', true);
                }
            });
        });

        muteButton.addEventListener('click', () => {
            VIDEOS.forEach((video) => {
                video.muted = !video.muted;
                muteButtonIcon.classList.toggle('fa-volume-high', !video.muted);
                muteButtonIcon.classList.toggle('fa-volume-xmark', video.muted);
            });
        });
    });
</script>