---
import SectionContainer from "@components/wrappers/SectionContainer.astro"

const CREATORS = [
    {
        name: "Diego Ayala",
        description: "Desarrollador Frontend y Backend en la Universidad de Rosario",
        icon: "fa-rocket",
    },
    {
        name: "Javier Ayala",
        description: "Desarrollador Frontend especializado en la Universidad de Rosario",
        icon: "fa-moon",
    },
    {
        name: "Miguel Silva",
        description: "Desarrollador Frontend en la Universidad de Cúcuta",
        icon: "fa-sun",
    },
]
---

<SectionContainer classList="flex flex-col md:flex-row md:justify-evenly flex-wrap items-center justify-center gap-4 py-32">
    {CREATORS.map(({ name, description, icon }) => (
        <article class="flex flex-col items-center justify-center gap-4 p-4 max-w-[30ch]">
            <i class={`fa-solid ${icon} text-6xl`}></i>
            <div class="text-center">
                <h3 class="text-2xl font-bold">{name}</h3>
                <p class="text-xl">{description}</p>
            </div>
        </article>
    ))}
</SectionContainer>