---
import FooterLink from "@components/buttons/FooterLink.astro"
import FooterSection from "@components/cards/FooterSection.astro"
import SectionContainer from "@components/wrappers/SectionContainer.astro"
import logo from "@img/logo.png"
---


<footer class="text-sm text-center text-gray-600 border-t-2 bg-neutral-100 dark:bg-neutral-900 dark:text-gray-400 dark:border-neutral-100/10 border-neutral-900/10">
    <SectionContainer classList="py-12 flex flex-col items-center justify-center md:justify-start">
        <div class="flex flex-col md:flex-row items-start justify-center w-full gap-4 border-b border-gray-200 dark:border-gray-700 pb-12">

            <!-- Left side -->
            <div class="flex flex-col lg:flex-1 items-center justify-start">
                <img src={logo.src} alt="Logo Rosario360" class="max-w-full h-24 mb-4">
                <p class="md:pr-16">
                    Rosario360 es un proyecto que busca promocionar el turismo en el municipio de Villa del Rosario, llevado a cabo en su totalidad por Miguel Silva, Diego Ayala y Javier Ayala.
                </p>
            </div>

            <!-- Right side -->
            <div class="flex flex-col lg:flex-1 xl:flex-row gap-10 items-start w-full">
                <FooterSection title="Redes Sociales">
                    <FooterLink href="https://github.com/JavierAyalaQ/Rosario360" icon="fab fa-github" text="Github" />
                    <FooterLink href="#" icon="fab fa-facebook" text="Facebook" />
                    <FooterLink href="#" icon="fab fa-instagram" text="Instagram" />
                </FooterSection>

                <FooterSection title="Asociados">
                    <FooterLink href="#" icon="fa-solid fa-user-group" text="Villa Gourmet" />
                    <FooterLink href="#" icon="fa-solid fa-people-group" text="Villa Empress" />
                    <FooterLink href="#" icon="fa-solid fa-users-line" text="VillaAgro" />
                </FooterSection>

                <FooterSection title="Contáctanos">
                    <a href="#" target="_blank" class="text-sm xl:text-lg inline-flex items-center justify-center gap-1 transition-colors duration-200 hover:text-gray-800 dark:hover:text-gray-200">
                        <i class="fa-solid fa-envelope"></i>
                        <span>rosario360@gmail.com</span>
                    </a>
                    <a href="#" target="_blank" class="text-sm xl:text-lg inline-flex items-center justify-center gap-1 transition-colors duration-200 hover:text-gray-800 dark:hover:text-gray-200">
                        <i class=" fab fa-whatsapp"></i>
                        <span>+57 322 476 8364</span>
                    </a>
                </FooterSection>
            </div>
        </div>
        <p class="mt-8 text-xs">
            Rosario360 &copy; {new Date().getFullYear()}    
        </p>
    </SectionContainer>
</footer>