---
import SectionContainer from "@components/wrappers/SectionContainer.astro"

// Videos
import Video1 from "@vid/video-promo.mp4";
import Video2 from "@vid/video-sr.mp4";
import Video3 from "@vid/video-sra.mp4";

const Videos = [
    {
        src: Video1,
        alt: "Video 1",
        title: "Video 1",
    },
    {
        src: Video2,
        alt: "Video 2",
        title: "Video 2",
    },
    {
        src: Video3,
        alt: "Video 3",
        title: "Video 3",
    },
];
---

<SectionContainer classList="px-8 mt-4" >
    <div class="flex flex-col items-center justify-between sm:flex-row w-full bg-neutral-800 dark:bg-gray-800 overflow-hidden rounded-xl">
        <div class="size-full m-auto p-8">
            <h1 class="m-auto text-2xl md:text-4xl font-bold text-neutral-100">
                <strong class="block text-3xl md:text-5xl uppercase">Villa del Rosario</strong>
                desde sus sabores, historia y hospitalidad
            </h1>
            <p class="text-sm text-neutral-100">Hero Section Slider con los 3 videos + botones call to action</p>
            <div class="flex gap-4 mt-4">
                <button class="bg-rose-600 text-white py-2 px-4 rounded-lg shadow-md hover:bg-rose-800 transition-colors">Empezar ahora</button>
                <button class="bg-gray-700 text-white py-2 px-4 rounded-lg shadow-md hover:bg-gray-800 dark:hover:bg-gray-600 transition-colors">Saber más</button>
            </div>
        </div>
        <figure class="flex w-fit bg-neutral-900 dark:bg-gray-800">
            <video src={Video1} loop muted controls playsinline class="w-full h-full md:min-h-[500px] object-cover brightness-75 contrast-125 saturate-[2]" >
                Tu navegador no soporta el elemento de video.
            </video>
            <figcaption class="sr-only">Video promocional de Villa del Rosario.</figcaption>
        </figure>
    </div>
</SectionContainer>