---
import SectionContainer from "@components/wrappers/SectionContainer.astro"

---

<SectionContainer
classList="px-8 mt-4"
>
    <div
    class="flex flex-col items-center justify-between sm:flex-row w-full bg-neutral-800 dark:bg-gray-800 overflow-hidden rounded-xl"
    >
        <div class="size-full m-auto p-8">
            <h1 class="m-auto text-2xl md:text-4xl font-bold text-neutral-100">
                <strong class="block text-3xl md:text-5xl uppercase">Villa del Rosario</strong>
                desde sus sabores, historia y hospitalidad
            </h1>
            <p class="text-sm text-neutral-100">Hero Section Slider con los 3 videos + botones call to action</p>
        </div>
        <figure class="flex w-fit bg-neutral-900 dark:bg-gray-800">
            <video src="./vid/video-promo.mp4" preload="auto" loop muted controls playsinline 
            class="w-full h-full object-cover brightness-75 contrast-125 saturate-[2] " aria-label="Video promocional de Villa del Rosario"
            >Tu navegador no soporta el elemento de video.
            </video>
            <figcaption class="sr-only">Video promocional de Villa del Rosario.</figcaption>
        </figure>
    </div>
</SectionContainer>