---
---


<div class="bg-gray-100 dark:bg-gray-900 flex justify-center">
    <video src="./public/vid/video-promo" loop muted controls class="w-full object-contain md:aspect-video">
        Your browser does not support the video tag.
    </video>
</div>

