---
import SectionContainer from "@components/wrappers/SectionContainer.astro";
---

<SectionContainer marginY="my-20">
    <img src="https://images.unsplash.com/photo-1563668454696-170e01768e54?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <div class="grid md:grid-cols-2 gap-4 my-12">
        <div class="">
            <h4 class="text-4xl font-bold text-red-600">Historia</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus provident dignissimos tenetur libero sed perferendis harum explicabo repellat. Adipisci explicabo aut consequuntur corporis quae praesentium temporibus labore sunt commodi iusto?</p>
        </div>
        <div class="">
            <h4 class="text-4xl font-bold text-red-600">Gastronomía</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt vel nulla magnam nam quidem facilis repudiandae, est, beatae corrupti nesciunt aperiam ad. Eius ex aut magni voluptatem quisquam unde fugiat!</p>
        </div>
    </div>
</SectionContainer>