---
import SectionContainer from "@components/wrappers/SectionContainer.astro";
---

<SectionContainer marginY="my-20" classList="border-t border-neutral-900/10 dark:border-neutral-100/10">
    <div class="grid md:grid-cols-2 gap-4 my-20">
        <div class="">
            <h4 class="text-4xl font-bold text-red-600 mb-4">Historia</h4>
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fimpactostereofm%2Fvideos%2F1499370506854459" width="100%" height="auto" style="aspect-ratio: 16/9;border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
        <div class="">
            <h4 class="text-4xl font-bold text-red-600 mb-4">Gastronomía</h4>
            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fimpactostereofm%2Fvideos%2F2338091623111921" width="100%" height="auto" style="aspect-ratio: 16/9;border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
    </div>
</SectionContainer>