---
import TitleH2 from "@components/texts/TitleH2.astro";
import SectionContainer from "@components/wrappers/SectionContainer.astro";
---

<SectionContainer marginY="my-20" classList="border-t border-neutral-900/10 dark:border-neutral-100/10">
    <TitleH2 title="Donde alojarse" classList="mt-32"/>
    <p>Esta sección podria usar bento grids</p>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-12">
        <div class="relative lg:col-span-1 aspect-square">
            <img src="https://images.unsplash.com/photo-1658786839874-1d1b1b2435f2?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="aspect-square lg:aspect-square max-w-full object-cover rounded">
            <div class="absolute text-white bg-black/25 top-0 right-0 p-4">
                <h5 class="text-xl font-semibold mt-6">
                    Hotel el tal
                </h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore veritatis vitae aliquam neque consequuntur repellendus expedita</p>
            </div>
        </div>
        <div class="relative lg:col-span-2 aspect-[2/1]">
            <img src="https://images.unsplash.com/photo-1657774857961-172b7281d71b?q=80&w=1634&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="aspect-square lg:aspect-[2/1] max-w-full object-cover rounded">
            <div class="absolute text-white bg-black/25 top-0 right-0 p-4">
                <h5 class="text-xl font-semibold mt-6">
                    Hotel el hostal
                </h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore veritatis vitae aliquam neque consequuntur repellendus expedita</p>
            </div>
        </div>
        <div class="relative lg:col-span-2">
            <img src="https://images.unsplash.com/photo-1504643039591-52948e3ddb47?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="aspect-square lg:aspect-[2/1] max-w-full object-cover rounded">
            <div class="absolute text-white bg-black/25 top-0 right-0 p-4">
                <h5 class="text-xl font-semibold mt-6">
                    Hotel el tal cual
                </h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore veritatis vitae aliquam neque consequuntur repellendus expedita</p>
            </div>
        </div>
        <div class="relative lg:col-span-1 aspect-square">
            <img src="https://images.unsplash.com/photo-1515279831895-4a03671e5edf?q=80&w=1440&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="aspect-square lg:aspect-square max-w-full object-cover rounded">
            <div class="absolute text-white bg-black/25 top-0 right-0 p-4">
                <h5 class="text-xl font-semibold mt-6">
                    Motel no se qué
                </h5>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore veritatis vitae aliquam neque consequuntur repellendus expedita</p>
            </div>
        </div>
    </div>
</SectionContainer>