---
import SectionContainer from "@components/wrappers/SectionContainer.astro";
---

<SectionContainer classList="my-32" >
    <h1 class="text-3xl xl:text-5xl font-bold text-green-950 dark:text-green-600 mt-12 mb-2">Conoce la historia del municipio de la mano del profesor Gerardo</h1>
    <p>Gerardo Enrique Apellido es un historiador de Villa del Rosario, apasionado por la cultura e historia del municipio histórico</p>

<iframe class="w-full" allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/co/podcast/comunidad-de-villa-del-rosario-gana-acci%C3%B3n/id1297763828?i=1000460145350"></iframe>
</SectionContainer>