---
import SectionContainer from "@components/wrappers/SectionContainer.astro";
---

<SectionContainer classList="my-32" >
    <h1 class="text-3xl xl:text-5xl font-bold text-green-950 dark:text-green-600 mt-12 mb-2">Conoce la historia del municipio de la mano del profesor Gerardo</h1>
    <p>Gerardo Enrique Apellido es un historiador de Villa del Rosario, apasionado por la cultura e historia del municipio histórico</p>
</SectionContainer>