---
import SectionContainer from "@components/wrappers/SectionContainer.astro";
import TitleH1 from "@components/texts/TitleH1.astro";
---

<SectionContainer classList="my-32" >
    <TitleH1 title="Conoce la historia del municipio de la mano del profesor Gerardo" />
    <p>Gerardo García es un historiador de Villa del Rosario, apasionado por la cultura e historia del municipio histórico</p>

    <div class="mt-20 mx-auto flex justify-center">
        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/co/podcast/el-rosario-y-su-historia/id1297763828"></iframe>
    </div>

    <div class="mt-20 mx-auto flex justify-center">
        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Ffb.watch%2FwoM1zLAIi-%2F" width="100%" height="auto" style="aspect-ratio: 16/9;border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</SectionContainer>