---
interface Props {
    title: string;
    classList?: string;
}
const { title, classList } = Astro.props;
---

<h2 class="text-2xl sm:text-3xl md:text-4xl xl:text-5xl font-bold text-green-900 dark:text-green-600 ml-8 mt-24 mb-8" >
    {title}
</h2>