---
import Layout from "../layouts/Layout.astro";
import Creators from "../components/sections/articles/Creators.astro";

import Container from "../components/wrappers/Container.astro";
---

<Layout title="Sobre nosotros">
  <Container classList="my-32">
    <Creators />
  </Container>
  <Container classList="my-32">
    <h2>¿Qué hacemos?</h2>
  </Container>
</Layout>

