---
import Layout from "@layouts/Layout.astro";
import Creators from "@components/sections/Creators.astro";

import SectionContainer from "@components/wrappers/SectionContainer.astro";
---

<Layout title="Sobre nosotros">
  <SectionContainer marginY="my-20">
    <Creators />
  </SectionContainer>
  <SectionContainer marginY="my-20">
    <h2>¿Qué hacemos?</h2>
  </SectionContainer>
</Layout>

