---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/wrappers/SectionContainer.astro";

import { Timeline } from "../components/sections/articles/Timeline.jsx";
---

<Layout title="Contáctanos">
    <SectionContainer>
        <Timeline client:load/>
    </SectionContainer>
    <div class="bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 h-96 w-full max-w-7xl mx-auto">
        <h2>Este es un espacio en blanco</h2>
    </div>
</Layout>