---
import Layout from "@layouts/Layout.astro";
import Form from "@components/forms/Form.astro";
import TitleH1 from "@components/texts/TitleH1.astro";
import SectionContainer from "@components/wrappers/SectionContainer.astro";

---


<Layout title="Contáctanos">
    <SectionContainer marginY="my-20">
        <TitleH1 title="Contáctanos" />
        <h3 class="text-2xl italic font-bold mt-6 mb-4">Si quieres saber como puedes colaborar con nosotros</h3>
    </SectionContainer>
    <Form />
</Layout>