---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/wrappers/SectionContainer.astro";
import TitleH1 from "@components/texts/TitleH1.astro";
import BasicLink from "@components/buttons/BasicLink.astro";
---

<Layout title="Bienes de Interés Cultural">
    <SectionContainer marginY="my-20">
        <TitleH1 title="Bienes de Interés Cultural" />
        <h3 class="text-2xl italic font-bold mt-6 mb-4">¿Qué son?</h3>
        <div class="text-pretty text-xl mb-4">
            <p>
                <strong>Villa del Rosario</strong> es reconocida por su gran valor <strong>histórico y cultural</strong>, especialmente por ser la sede del Primer Congreso General de la República de Colombia en 1821. Es por eso que se crea <strong>la Ley No. 2270</strong>, celebrando el bicentenario de este evento trascendental, la cual declara varios de sus patrimonios como bienes de interés cultural, garantizando su <strong>protección y promoción</strong> a nivel nacional.
            </p><br>
            <p>
                Entre los bienes de interés cultural de Villa del Rosario destacan sitios emblemáticos como <strong>La Bagatela</strong>, la <strong>Casa de Santander</strong>, la <strong>Estatua del General</strong>, y el <strong>Parque Gran Colombiano</strong>, que forman parte del Complejo Histórico que conmemora la creación de la República de Colombia. También se incluyen la <strong>Iglesia de Nuestra Señora del Rosario</strong>, la <strong>Casa de la Cultura</strong>, y el <strong>Templo Histórico</strong>, todos ellos reflejos del legado histórico y arquitectónico que da cuenta del proceso de independencia y la formación del Estado colombiano. Entre
            </p><br>
            <p>
                Además, el reconocimiento cultural abarca elementos naturales y arquitectónicos únicos, como el Árbol del <strong>Tamarindo Histórico</strong> y la <strong>Estación del Ferrocarril</strong>, que junto con otros bienes, son parte esencial de la identidad de <strong>Villa del Rosario</strong>. Gracias a esta ley, estos patrimonios no solo serán preservados, sino también promovidos como símbolos de la memoria histórica de Colombia, contribuyendo a la difusión de la cultura nacional y a la educación de las futuras generaciones sobre el nacimiento de la nación.
            </p>
        </div>
        <BasicLink href="/" body="Conoce los Bienes de Interés Cultural" />
    </SectionContainer>
</Layout>