---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/wrappers/Container.astro";
---

<Layout title="Villa Gourmet">
    <Container classList="my-32 text-center">
        <h2 class="text-4xl font-bold text-red-800">Villa Gourmet</h2>
        <p class="text-xl mt-4">
            El sabor de la villa es la mejor de todo Norte de Santander
        </p>
        <i class="fa-solid fa-utensils text-2xl text-red-800 mt-4"></i>
    </Container>
</Layout>