---
import LayoutTransmedia from "@layouts/LayoutTransmedia.astro"

import BicSlider from "@components/sections/BicSlider.tsx";


import videoSr from "@vid/bg-intro.mp4";
---


<LayoutTransmedia title="Transmedia" >
    <slot slot="main">
        <div class="flex justify-center items-center absolute bottom-0 left-0 w-full z-0">
            <BicSlider client:visible />
        </div>
        <button id="fullscreenBtn" class="absolute top-20 right-20 z-10 bg-black text-white rounded-full shadow-md hover:bg-white hover:text-black transition-colors duration-300 hover:opacity-80">
            <i class="fa-solid fa-expand text-inherit p-2"></i>
        </button>
        <video src={videoSr} class="w-full h-full pointer-events-none object-cover -z-10" autoplay loop muted>Tu navegador no puede reproducir el elemento de video</video>
    </slot>
</LayoutTransmedia>

<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const fullscreenBtn = document.getElementById("fullscreenBtn");
        let isFullscreen = false;
        
        fullscreenBtn.addEventListener("click", () => {
            if (isFullscreen === true) {
                document.documentElement.exitFullscreen();
!isFullscreen;
            } else {
                document.documentElement.requestFullscreen();
!isFullscreen 
            }
        });
    });
</script>