---
import SectionContainer from "@components/wrappers/SectionContainer.astro"
---

<SectionContainer marginY="my-20" >
    <form id="contactForm" novalidate class="w-full flex flex-col gap-2">
        <input type="text" class="border border-gray-300 bg-transparent p-3 w-full rounded outline-none focus:ring ring-green-500/40" id="name" placeholder="Nombre"
            required data-validation-required-message="Por favor, escribe tu nombre" />
        <p class="help-block text-danger"></p>
        <input type="email" class="border border-gray-300 bg-transparent p-3 w-full rounded outline-none focus:ring ring-green-500/40" id="email" placeholder="Email"
            required data-validation-required-message="Por favor, escribe tu correo" />
        <p class="help-block text-danger"></p>
        <input type="text" class="border border-gray-300 bg-transparent p-3 w-full rounded outline-none focus:ring ring-green-500/40" id="formSubject" placeholder="Asunto"
            required data-validation-required-message="Por favor, escribe un asunto" />
        <p class="help-block text-danger"></p>
        <textarea class="border border-gray-300 bg-transparent p-3 w-full rounded outline-none focus:ring ring-green-500/40 line-clamp-5 max-h-[200px] overflow-y-scroll" maxlength="400" rows="5" id="message" placeholder="Mensaje"
            required
            data-validation-required-message="Por favor, escribe tu mensaje"></textarea>
        <p class="help-block text-danger"></p>
        <div>
            <button class="bg-green-500 hover:bg-green-600 transition text-green-950 text-md font-semibold rounded py-4 px-12" type="submit" id="sendMessageButton">Enviar Mensaje</button>
        </div>
    </form>
</SectionContainer>